/* Color Theme Swatches in Hex */
.Arquitectura-1-hex { color: #011526; }
.Arquitectura-2-hex { color: #2E4959; }
.Arquitectura-3-hex { color: #688EA6; }
.Arquitectura-4-hex { color: #88AABF; }
.Arquitectura-5-hex { color: #F2D8C2; }

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(226, 226, 226);
  font-family: 'Source Sans Pro', sans-serif;
}
/* body {
  background: #0F2027;
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
} */
.main-header {
  height: 110px;
  background-color:  #141414;
  color:white;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.container-logo {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main-header .logo {
  width: 110px;
  height: 110px;
}
.main-header .logo img {
  width: 100%;
  height: 100%;
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-header .main-nav li{
  display:inline-block;
  margin-left: 2rem;
  list-style: none;
  padding:1rem;
  border-radius: 2px;
  transition: .4s;
}
.main-header .main-nav a{
  color:white;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Fjalla One', sans-serif;;
}
.main {
  
  background-color: #141414;
}
.container {
  width: 70%;
  margin: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;
}
.main h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
}
.main-img{
  width:500px;
  height: 300px;
  background: url(/images/Portada.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.main .word {
  color:#026fff;
}
.main-header .main-nav li:hover{
  background-color:  #688EA6;
}
.portafolio article{
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding:3rem;
  background-color: white;
}
.portafolio {
  width: 70%;
  margin: auto;

}
.portafolio-title {
  font-size: 2rem;
  padding: 4rem;
  padding-left:0;
  color: #0872ff;
  font-weight: bold;
  text-transform: uppercase;

}
.content-portafolio {
  width: 500px;
  line-height: 30px;
  font-size: 2rem;
}
.portafolio .container-portafolio img{
  width:500px;
}
.container-portafolio article {
  display: grid;
  grid-template-columns: 50% 50%;
}
.proyect-title {
  font-size:2.4rem;
  font-weight: bold;
}
.proyect-cursos {
  font-weight: bolder;
  margin-top: 5px;
}
.proyect-detalles {
  font-size: 2.4rem;
}

/* 

.portafolio .container-portafolio {
  display: flex;
  justify-content: center;
  margin:3rem;
}
.portafolio div article {
  margin: 2rem;
}
.portafolio div article figure {
  height: 300px;
}
.portafolio .content-portafolio {
  height: 80px;
  margin: 2rem;
} */