/* Color Theme Swatches in Hex */
.Arquitectura-1-hex { color: #011526; }
.Arquitectura-2-hex { color: #2E4959; }
.Arquitectura-3-hex { color: #688EA6; }
.Arquitectura-4-hex { color: #88AABF; }
.Arquitectura-5-hex { color: #F2D8C2; }

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,900;1,300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family:'Source Sans Pro', sans-serif;
  font-weight: 300;
}
/* body {
  background: #0F2027;
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
} */
.main-header {
  width: 70%;
  margin: auto;
  height: 8rem;
  background-color:  #011526;
  color:white;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .logo {
  font-size: 4rem;
  margin-left: 5rem;
}
.main-header .main-nav li{
  display:inline-block;
  margin-right: 5rem;
  list-style: none;
  padding:1rem;
  border-radius: 2px;
  transition: .4s;
}
.main-header .main-nav a{
  color:white;
  text-decoration: none;
  font-size: 2rem;
}
.main {
  width: 70%;
 
  margin: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.4);
}
.main h1{
  font-size: 4rem;
  height: 300px;
  margin-left:3rem;
  padding-top: 6rem;
  color: white;
  font-weight: lighter;
}
.main img{
  width:300px;
}
.main .word {
  color:#026fff;
}
.main-header .main-nav li:hover{
  background-color:  #688EA6;
}
.portafolio .content-portafolio {
  width: 500px;
  
}
.portafolio article{
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 2rem;
}
/* .portafolio {
  width: 70%;
  margin: auto;
  background-color: #88AABF;
}
.portafolio .portafolio-title {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}
.portafolio .container-portafolio {
  display: flex;
  justify-content: center;
  margin:3rem;
}
.portafolio div article {
  margin: 2rem;
}
.portafolio div article figure {
  height: 300px;
}
.portafolio .content-portafolio {
  height: 80px;
  margin: 2rem;
} */